@import '~material-design-icons/iconfont/material-icons.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Cette construction avec le after permet d'appliquer une transparence à l'image de fond
body::after {
  background-image: url(assets/images/wp.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

body {
  background-color: #D5D8DC;
  color: #F1F3F4;
  font-size: 1em;
}

.body{height: calc(100vh - 30px);}
.bodyLogged{height: calc(100vh - 101px);}

button:hover {
  cursor: pointer;
}

/* Le dark de RedStone (il faudrait utiliser les mécanismes de bootstrap prévus à cet effet) */
.bg-dark, .btn-or {
  background: black !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-simple-snackbar-action{color: white!important;cursor: pointer;}
